flow.json
[
    {
        "id": "1901ee6fbfa26b10",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd2114fb1458e6e5",
        "type": "ui_button",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "group": "be3783dafe3e5ed9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "ligar",
        "topicType": "msg",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "ee0a11e260725076"
            ]
        ]
    },
    {
        "id": "6b416afa8b13c5a8",
        "type": "ui_button",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "group": "be3783dafe3e5ed9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desligar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "ligar",
        "topicType": "msg",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "cbb543389fb632e5"
            ]
        ]
    },
    {
        "id": "ee0a11e260725076",
        "type": "mqtt out",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "topic": "ligar",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8b58477604b5e5d0",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "cbb543389fb632e5",
        "type": "mqtt out",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "topic": "ligar",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8b58477604b5e5d0",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "9cfec82b3cfdd5ee",
        "type": "ui_button",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "group": "be3783dafe3e5ed9",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Virar direita",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "virar_direita",
        "payloadType": "str",
        "topic": "controle/motores",
        "topicType": "msg",
        "x": 290,
        "y": 320,
        "wires": [
            [
                "abc38a2639d4fa83"
            ]
        ]
    },
    {
        "id": "abc38a2639d4fa83",
        "type": "mqtt out",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "topic": "controle/motores",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8b58477604b5e5d0",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "da22d9bc78b7daf4",
        "type": "ui_button",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "group": "be3783dafe3e5ed9",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Virar esquerda",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "virar_esquerda",
        "payloadType": "str",
        "topic": "controle/motores",
        "topicType": "msg",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "09b3168198117b3e"
            ]
        ]
    },
    {
        "id": "09b3168198117b3e",
        "type": "mqtt out",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "topic": "controle/motores",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8b58477604b5e5d0",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "bdd3bcf6ee26513c",
        "type": "ui_text",
        "z": "1901ee6fbfa26b10",
        "group": "be3783dafe3e5ed9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 460,
        "wires": []
    },
    {
        "id": "19b747d8c8c9abf1",
        "type": "mqtt in",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "topic": "status/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8b58477604b5e5d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "bdd3bcf6ee26513c"
            ]
        ]
    },
    {
        "id": "6973c5b2c2ce1274",
        "type": "ui_slider",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "label": "Intervalo",
        "tooltip": "",
        "group": "be3783dafe3e5ed9",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "intervalo",
        "topicType": "msg",
        "min": "10",
        "max": "1023",
        "step": 1,
        "className": "",
        "x": 320,
        "y": 520,
        "wires": [
            [
                "0f48d80dd9e0d01c"
            ]
        ]
    },
    {
        "id": "0f48d80dd9e0d01c",
        "type": "mqtt out",
        "z": "1901ee6fbfa26b10",
        "name": "",
        "topic": "intervalo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8b58477604b5e5d0",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "be3783dafe3e5ed9",
        "type": "ui_group",
        "name": "projeto",
        "tab": "8b2a6f102f42a02f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b58477604b5e5d0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8b2a6f102f42a02f",
        "type": "ui_tab",
        "name": "Controle",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]